.vscode/
.env
__pycache__/
Pipfile.lock
config.json
local-config.env
config.yaml
secrets.yaml
src/
*.log
*.pid
celerybeat*
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
static/

/config.yaml
/config_dev.yaml

config.yaml.bak
config_dev.yaml.bak
config*.yaml

grid_files/
data/
s2d2_proj/

/media/*
!/media/lowres_previews/
/media/lowres_previews/*
!/media/lowres_previews/.gitignore

!/media/.gitignore
!/media/fabric_api.png

authcache.json